/* Police */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  text-align: center;
  height: 30px;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1 span {
  position: relative;
  right: 20%;
}

/*Section*/
section img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0px 0px -40px -40px;
  position: relative;
  z-index: 1;
}

section .cards {
  background-color: #f2f2f2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
  padding: 0px 0px 40px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  z-index: 2;
}

section .cards h2 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

section .cards h2 span {
  margin-left: 40px;
}

section .cards h3 {
  display: block;
  width: 100%;
  text-align: left;
  margin-left: 50px;
  text-transform: uppercase;
  font-weight: normal;
}

section .cards h3:before {
  content: "";
  position: absolute;
  height: 25px;
  width: 12%;
  border-bottom: 4px solid #99E2D0;
}

section .cards_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 90%;
  height: 90px;
  background-color: white;
  border-radius: 20px;
  margin: 10px 0px;
  -webkit-animation: menu-anim 400ms both;
          animation: menu-anim 400ms both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

section .cards_card:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

section .cards_card:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

section .cards_card:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

section .cards_card:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

section .cards_card:nth-child(8) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

section .cards_card:nth-child(9) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

section .cards_card:nth-child(11) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

section .cards_card:nth-child(12) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

section .cards_card:nth-child(13) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

section .cards_card h4, section .cards_card p {
  margin-left: 20px;
}

section .cards_card_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 170%;
}

section .cards_card_prix_p {
  font-weight: bold;
}

section .cards_card_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  margin: 0px -20px 0px -20px;
  font-size: 1.2em;
  width: 100px;
  height: 90px;
}

section .cards_card_icon_span {
  display: block;
  position: relative;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section .cards_card_icon:hover {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  background-color: #99E2D0;
  -webkit-animation: check-anim 400ms both;
          animation: check-anim 400ms both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

section .cards_button {
  border: none;
  border-radius: 30px;
  margin: 20px 0px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: 180px;
  height: 40px;
  color: white;
  -webkit-box-shadow: -3px 3px 5px lightgray;
          box-shadow: -3px 3px 5px lightgray;
}

@-webkit-keyframes menu-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes check-anim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@keyframes check-anim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

/* footer */
footer {
  background-color: rgba(29, 29, 29, 0.781);
  color: white;
  padding: 1px 0px;
}

@media all and (min-width: 1100px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer h2 {
  text-align: left;
  margin-left: 10%;
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

@media all and (min-width: 1100px) {
  footer h2 {
    margin: 0;
  }
}

footer p {
  text-align: left;
  margin-left: 10%;
}

@media all and (min-width: 1100px) {
  footer p {
    margin: 10px 0px;
  }
}

footer p span {
  margin-right: 15px;
}

footer p span #rotate {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  width: 13.5px;
}
/*# sourceMappingURL=menu.css.map */