@import "utils/variables";


/* En tête */

header {
    width: 100%;
    text-align: center;
    
    h1 {
        width: 100%;
        background-color: white;
        @include Police
    }
    .location {
        background-color: rgb(224, 224, 224);
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 1px 5px rgb(177, 177, 177);
        font-weight: bold;
        &_logo {
            margin-right: 15px;
        }
    }

    .reserver {
        background-color: $primary-color;
        padding: 10px 26px 40px;

        h2 {
            font-size: 1.5em;
            padding: 0px 41px;
        }

        &_button {
            border: none;
            border-radius: 30px;
            background: linear-gradient($third-color, $second-color);
            width: 200px;
            height: 40px;
            color: white;
            box-shadow: -3px 3px 5px lightgray;
            position: relative;
            z-index: 1;
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 30px;
                background: linear-gradient(lighten($third-color, 5), lighten($second-color, 5));
                opacity: 0;
                z-index: -1;
                transition: opacity 250ms;
            }
        }
    }
}

/* Section */ 

section {
    text-align: center;

    h2 {
        text-align: left;
        margin-left: 10%;
        @include ordi {
            text-align: center;
            margin: 20px 0px;
        }
    }

    ul {
        list-style-type: none;
        counter-reset: number;

        @include ordi {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px 0px 40px;
        }

        li::before {
            counter-increment: number;
            content: counter(number)"\a0";
            background-color: $second-color;
            border-radius: 50%;
            margin-right: 20px;
            width: 20px;
            height: 20px;
            color: white;
            font-weight: normal;
          }

        li {
            background-color: $primary-color;
            margin: 20px 0px;
            width: 95%;
            height: 60px;
            border-radius: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: bold;
            box-shadow: -3px 3px 5px lightgray;

            @include ordi {
                margin: 0px 20px;
            }

            &:hover {
                background-color: rgba($second-color,0.2);
                span {         
                        color: $second-color;
                }
            }
            span {
                margin-right: 25px;
                color: gray;
            }
        }
    }

    .cards {
        background-color: $primary-color;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 50px;

        @include ordi {
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        
        h2 {
        display: block;
        width: 100%;
        text-align: left;
        margin-left: 20%; 

        @include ordi {
            text-align: center;
            margin: 20px 0px 0px;
            }
        }
        
        &_card {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            background-color: white;
            box-shadow: -3px 3px 5px lightgray;
            margin: 15px 0px;
            width: 350px;
            height: 285px;
            border-radius: 20px;
            @include ordi {
                margin: 40px 80px;
            }

            &_img {
                width: 350px;
                height: 200px;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
            }
        }

        h3, p {
            text-align: left;
            color: black;
            margin-left: 20px;
            margin-bottom: -5px;
        }

        span {
            position: relative;
            left: 38%;
            bottom: 40px;
            font-size: 1.5em;
            color: grey;
            i:hover{
                animation: heart 1s infinite;
            }
        }
    }
}


@keyframes heart {
    0% {
        background-color: white;
    }
    100% {
        background: linear-gradient($second-color, $third-color);
    }
}

/* media queries */


@import "layouts/form";